<h1>Gigs</h1>

<% @gigs.each do |gig| %>
    <h3><%= link_to gig.title, gig_path(gig) %></h3>
<% end %>

<p><%= link_to "Back to Your Profile Page", user_path(current_user) %>

<% if current_user.contractor == true %>

<p><%= link_to "New Gig", new_gig_path %></p>

<% end %>
