<h3 style="color:DarkRed;"> <%= flash[:unauthorized] %></h3>
<h1>Gigs</h1>

<h3><%= contractor_gigs_list%></h3>

<%= render partial: 'gigs', locals: {gigs: @gigs} %>

<br><br>

<% if current_user.contractor %>
    <p><%= button_to "New Gig", new_user_gig_path(current_user), method: :get %></p>
<% end %>